/*VARIABLES*/
:root{
  /*Colores de Google*/
  --color-blue1: #01d0fb;
  --color-blue2: #01c0fa;
  --color-violet:  #9857bd;
  --color-green1:  #05e39c;
  --color-green2: #0ed290;
  --color-carne: #fed2a4;
}

*{
	padding: 0;
	margin: 0;
}
html {
  scroll-behavior: smooth;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

/*Fuentes*/
@font-face{
    font-family: hola1;
    src:url(../fonts/RobotoCondensed-Bold.ttf); 
}

@font-face{
    font-family: hola2;
    src:url(../fonts/RobotoCondensed-Light.ttf); 
}

@font-face{
    font-family: hola3;
    src:url(../fonts/RobotoCondensed-Regular.ttf); 
}

@font-face{
    font-family: hola4;
    src:url(../fonts/Barlow-ExtraLight.ttf); 
}
/*Fin de la Fuentes*/

body{
    background:linear-gradient(to right, var(--color-green1), var(--color-green2));
    font-family:sans-serif;
}
header{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 20px 50px;
}
header h2{
	letter-spacing: 2px;
	font-family: hola3;
	color: #f8f1f1;
	border-radius: 4px;
	border: 2px solid var(--color-green2);
	padding: 5px;
    transition: .5s ease-out;
    box-shadow: inset 0px -70px 0px 0px var(--color-green2);
	border-color: white;
}
nav ul{
	display: flex;
	justify-content: space-between;
	margin: 0px 50px;
}
nav li{
	margin: 0px 5px;
	font-family: hola2;
	color: black;
	letter-spacing: 2px;
	font-weight: 700;
	padding: 5px;
	border-bottom: 2px solid rgba(10,10,10,0);
	transition: .2s all;
}

nav li:hover{
	color: white;
	border-bottom: 2px solid white;
}

article{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.title{
	width: 500px;
}

.title h1{
	font-size: 30px;
	font-family: hola1;
	letter-spacing: 3px;
	color: var(--color-green2);
	background-color: white;
	width: 400px;
	text-align: center;
	border-radius: 1px;
}

.title p{
	text-align: justify;
	margin: 20px 0px 0px 0px;
	color: black;
	font-family: hola4;
	font-weight: 700;
	letter-spacing: 1px;
}
.imagen{
	margin-left: 50px;
	padding: 20px;
}
.imagen img{
	object-fit: contain;
	width: 350px;
	height: 350px;
}

footer{
	width: 100%;
}

footer div ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

footer li{
	width: 200px;
	height: 100px;
	background-color: white;
	border-radius: 2px;
}

.plataformas li{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all .5s;
}

.plataformas li:hover{
	box-shadow: 2px 2px 2px rgba(10,10,10,0.5);
	transition: all .5s;
	border-radius: 3px;
	transform: translateY(-5px);
}

.img1{
	background-image: url(../img/mercado.png);
}

.img2{
	background-image: url(../img/whatsapp.jpg);
}

.img3{
	background-image: url(../img/marketplace.jpg);
}

.img4{
	background-image: url(../img/instagram.jpg);
}

@media only screen and (max-width:950px){
	.imagen{
		display: none;
	}	
	body{
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		height: 100vh;
	}
	header{
		justify-content: space-around;
		padding: 20px 0;
	}
	header h2{
		font-size: 20px;
	}
	.title{
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}
	.title h1{
		font-size: 40px;
		width: 500px;
	}
	.title p{
		width: 80%;
		text-align: justify;
		margin: 20px 0px 0px 0px;
	}
}

@media only screen and (max-width:820px){
	header{
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
	}

	header h2{
		font-size: 25px;
	}
	nav ul{
		display: flex;
		justify-content: space-between;
		margin: 20px 0;
	}
	nav li:hover{
		color: black;
		border-bottom: 2px solid white;
	}
}